.add-product__list {
  display: flex;
  flex-direction: column;
}

.add-product__option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-product__button {
  width: 100%;
  margin: 0 auto;
}
