.button{
  display: block;
  background-color: rgba(104, 183, 56, 1);
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border: none;
}
