.cart-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: space-between;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.cart-item__img {
  display: block;
  box-sizing: border-box;
  flex: 0 0 50%;
  width: 50%;
}

.cart-item__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 50%;
}

.cart-item__option {
  width: 100%;
}

.cart-item__link {
  text-decoration: none;
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @black;
}

.cart-item__button {
  margin: 0;
  width: 100%;
  padding: 10px 15px;
}
