.cart-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 19px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 324px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
    padding-top: 124px;
    background-color: @light-grey-background;
    margin-bottom: 140px;

    &:nth-child(7n) {
      margin-bottom: 64px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;

    &:nth-child(n + 5) {
      margin-bottom: 80px;
    }
  }
}

.cart-item__img {
  display: block;
  box-sizing: border-box;
  flex: 0 0 50%;
  width: 50%;

  @media (min-width: @tablet-width) {
    max-width: 100%;
    margin: 0 auto;
  }
}

.cart-item__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 50%;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
    padding-top: 40px;
  }
}

.cart-item__option {
  width: 100%;
  padding-bottom: 12px;
}

.cart-item__link {
  text-decoration: none;
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
    width: 150px;
  }
}

.cart-item__link-text {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.cart-item__button {
  margin: 0;
  margin-top: 10px;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}
