.catalog-select__wrapper{
  padding-left: 20px;
  padding-right: 32px;
}
.catalog-select__item{
  background-color: rgba(242, 242, 242, 1);
  padding: 20px;
  margin-top: 22px;
}
.catalog-select__title{
  color: black;
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 20px;
}
.catalog-select__description{
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-bottom: 23px;
  border-bottom: 1px solid #D9D9D9;
  margin: 19px;
}
.catalog-select__to-catalog{
  background-color: rgba(242, 242, 242, 1);
  color: black;
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  width: 132px;
  padding: 0;
  margin: 0;
}
