.contacts {
  display: flex;
  justify-content: space-between;
  padding-left: 19px;
  padding-right: 19px;

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    height: 201px;
    padding: 0 70px;
  }
}

.contacts__intro {
  display: block;
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    font-size: 20px;
    line-height: 26px;
    width: 171px;
    padding-top: 44px;
  }
}

.contacts__adress {
  display: block;
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    font-size: 16px;
    line-height: 20px;
    width: 159px;
    text-align: right;
    padding-top: 48px;
  }
}

.contacts__adress-city {
  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    display: block;
    margin-top: 20px;
  }
}
