.email {
  display: flex;
  margin: 0;
  width: 100%;
  align-items: center;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.email__label {
  white-space: nowrap;
  margin-right: 12px;
}

.email__input {
  height: 40px;
  width: 100%;
}
