.email {
  display: flex;
  margin: 0;
  width: 100%;
  align-items: center;
  margin-bottom: 14px;
}

.email__label {
  white-space: nowrap;
}

.email__input {
  width: 100%;
  margin-left: 12px;
  margin-right: 20px;
}
