.example {
  background-color: @grey-background;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 62px;
  }

  padding-bottom: 24px;

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    background-color: @white;
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    height: 598px;
    padding-bottom: 51px;
  }
}

.example__wrapper {
  @media (max-width: @mobile-width-only){
    padding: 0 20px;
    padding-top: 26px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    height: 597px;
  }
}

.example__header {
  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.example__title {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 33px;
  margin-top: 0;

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 51px;
    margin-bottom: 67px;
  }
}

.example__intro {
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    font-size: 16px;
    line-height: 24px;
    padding-right: 6px;
    margin-top: 64px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 148px;
  }
}

.example__stats-list {
  display: flex;
  justify-content: center;

  @media (max-width: @mobile-width-only) {
    justify-content: space-between;
    margin-bottom: 35px;
  }

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only){
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    justify-content: start;
    width: 50%;
    margin-top: 13px;
    margin-bottom: 55px;
  }
}

.example__stats-item {
  border: 1px solid @border-color;
  border-radius: 3px;
  position: relative;

  @media (max-width: @mobile-width-only) {
    width: 124px;
    padding-top: 15px;
    padding-bottom: 14px;
  }
}

.example__stats-item--weigth {
  @media (max-width: @mobile-width-only) {
    margin-right: 0;
  }

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    padding: 15px 57px 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 32px;
  }

  margin-right: 43px;
}

.example__stats-item--days {
  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    padding: 15px 30px 20px;

  }

  @media (max-width: @mobile-width-only) {
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 50px;
  }
}

.example__stats-number {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 10px;
  }
}

.example__stats-description {
  position: absolute;
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    font-size: 14px;
    line-height: 14px;
    bottom: -8px;
    left: 25px;
    background-color: @white;
  }

  @media (max-width: @mobile-width-only) {
    bottom: -18px;
    left: 20px;
    background-color: @grey-background;
    width: 80px;
  }

  @media (min-width: @desktop-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__stats-legend {
  display: block;
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 40px;
  }

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    line-height: 20px;
    padding-top: 40px;
  }

  @media (min-width: @desktop-width) {
    align-items: flex-start;
    flex-direction: row;
    font-size: 20px;
    line-height: 20px;
    width: 50%;
    text-align: start;
    margin-bottom: 22px;
  }
}

.example__range {
  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    width: 428px;
    margin: 0 22px;
  }

  @media (min-width: @desktop-width) {
    width: 469px;
  }
}

.example__range-text {
  display: block;
  text-transform: uppercase;
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 100%;

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    text-align: start;
    margin-bottom: 18px;
    padding-left: 39px;
  }
}

.example__img {
  width: 100%;

  @media (max-width: @mobile-width-only) {
    height: 232px;
    margin-bottom: 34px;
    background-image: url("../../img/example/before-mobile\ 1.png");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    height: 580px;
    margin-bottom: 20px;
    background:
      url(../../img/example/cat-fat.png) 45% 115% no-repeat,
      url(../../img/example/cat-skinny.png) 65% 110% no-repeat;
  }

  @media (min-width: @desktop-width) {
    height: 536px;
    width: 50%;
    background-color: @white;
  }
}

.example__range {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 84px;
  background: transparent; /* Otherwise white in Chrome */
  padding: 0 5px;

  &:focus {
    outline: none;
  }

  &::-ms-track{
    width: 84px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 35px;
    height: 6px;
    background: @green;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 3px;

    @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
      width: 35px;
      height: 35px;
      padding: 13px;
      box-sizing: border-box;
      border-radius: 100%;
      background-color: @green;
      border: 1px solid @inner-border;
      margin-top: -10px;
    }
  }

  &::-moz-range-thumb {
    width: 35px;
    height: 6px;
    background: @green;
    border-radius: 6px;
    cursor: pointer;
  }

  &::-ms-thumb {
    width: 35px;
    height: 6px;
    background: @green;
    border-radius: 6px;
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    width: 84px;
    height: 14px;
    cursor: pointer;
    background: @white;
    border-radius: 6px;
    border: 1px solid @inner-border;
  }

  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    width: 428px;
  }
}
