.example {
  background-color: #eaeaea;
  padding-top: 17px;
  padding-bottom: 24px;
}

.example__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 25px;
}

.example__intro {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
}

.example__stats-list {
  display: flex;
  justify-content: center;
}

.example__stats-item--weigth {
  margin-right: 16px;
}

.example__stats-item--days {
  margin-left: 16px;
}

.example__stats-number {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}

.example__stats-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}

.example__stats-legend {
  display: block;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__range-text {
  display: block;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
