.form {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
  padding-left: 20px;
  padding-right: 20px;
}

.form__title {
  margin: 0;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: @black;
  margin-bottom: 39px;
}
