.info-item {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.info-item__param {
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.info-item__value {
  margin: 0;
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
