.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  list-style-type: none;
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.main-nav__item a {
  text-decoration: none;
  color: @black;
}
