.page-main {
  list-style-type: none;
}

.page-main__title {
  display: block;
  margin-left: 20px;
  font-family: @oswald;
  color: @black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 37px;
}

.page-main__form-button {
  margin: 24px auto;
  display: block;
  background-color: @green;
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  box-sizing: border-box;
  border: none;
  width: 100%;
}
