.page-main {
  list-style-type: none;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: @mobile-width;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
    padding: 0 30px;
    padding-top: 64px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
    padding: 0 110px;
    margin: 0 auto;
    padding-top: 26px;
  }
}

.page-main__form {
  @media (min-width: @tablet-width)and(max-width: @tablet-width-only) {
    padding: 0 40px;
  }
}

.page-main__title {
  display: block;
  font-family: @oswald;
  color: @black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
    margin-top: 0;
    font-size: 60px;
    line-height: 60px;
    padding-left: 39px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    margin-bottom: 56px;
  }
}

.page-main__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 46px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 82px;
  }
}

.page-main__form-button {
  display: block;
  background-color: @green;
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-right: 60px;
    margin-left: 0;
    max-width: 282px;
    box-sizing: border-box;
    font-size: 20px;
    padding: 16px 20px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 568px;
    margin-right: 80px;
  }
}

.page-main__legend {
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
