.page-footer {
  max-width: @mobile-width;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
    margin: 0 auto;
  }
}

.page-footer__wrapper {
  @media (min-width: @desktop-width) {
    position: relative;
    z-index: -1;
  }
}

.page-footer__contacts {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 12px;
  }
}
