.program {
  padding-top: 22.22px;
  padding-bottom: 22.22px;
  display: block;
}

.program__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.program__item {
  margin-bottom: 13px;

  &:last-child {
    margin: 0;
  }
}
