.program-select__header {
  background-color: @green-opacity;
  padding-top: 27px;
  padding-bottom: 302px;

  @media (min-width: @tablet-width) {
    background-color: @white;
    margin-bottom: 49px;
    padding-bottom: 0;
    padding-top: 62px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 114px;
  }
}

.program-select__wrapper {
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding-left: 90px;
    padding-top: 55px;
    margin-bottom: 5px;
    min-height: 860px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 190px;
  }
}

.program-select__slogan {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @white;
  text-align: center;

  @media (max-width: @tablet-width) {
    margin: 0;
    margin-bottom: 25px;
  }

  @media (min-width: @tablet-width) {
    text-align: left;
    color: @black;
  }
}

.program-select__intro {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    text-align: left;
    color: @black;
  }
}

.program-select__to-program {
  @media (min-width: @tablet-width) {
    font-family: @oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    margin: 0;
    width: 244px;
  }
}
